<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
    <title>About Me -- Express App</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img class= 'portrait' src="./img/47326957.png" alt="" srcset="" />
      <h3>Aniket Badole</h3>
      <h4>Software Developer, Nagpur</h4>
    </div>
    {{>footer}}
  </body>
</html>